TAO_SECRET=your recovery phrase here
TAO_RPC_URL=wss://entrypoint-finney.opentensor.ai:443
TAO_TREASURY=5Fh7dSmMKVXT5YC7hsfCcHDg171xtQWBhppu66pxCqbvnnJC
TAO_MINT_FEE=0.001
TAO_DEFAULT_DELAY_MS=1200
TAO_SEND_MODE=fast
